body {
  text-align: center;
}

h1 {
  color: blue;
}

#header {
  text-align: center;
  padding-bottom: 30px;
  margin: auto;
  width: 550px;
  border-style: dashed;
  border-color: #FFF
}
 #header li {
   text-align: left;
 }

 #line2 {
   display: block;
   text-align: left;
   margin-left: 20px;
 }
